<%- include('./partials/header')  %>

    <section>

        <div class="my-info-cont text-center my-test">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="<%= imgUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span><%= message  %> </span>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <%- include('./partials/footer')  %>